.map-container {
    display: flex;
    height: 100vh;
    gap: 2px;
    background-color: rgba(255, 255, 255, 0.7); /* bg-white/70 */
}

.map-wrapper {
    position: relative;
    width: 50%; /* 等于 w-1/2 */
    border: 1px solid transparent;
}

.map-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}